body {
    margin: 5px;
}

.carousel-inner {
    width: 300px;
    height: 500px;
}

.content, .navigation {
    padding: 0;
}

.navigation_container {
    padding: 0.7vw 2vw;
}

main {
    padding: 2vw;
}
